# Timezone
TZ=America/Belem

# Postgres
POSTGRES_DB=<REDACTED_DB_NAME>
POSTGRES_USER=<REDACTED_DB_USER>
POSTGRES_PASSWORD=<REDACTED_DB_PASSWORD>

# n8n database
N8N_DB_NAME=<REDACTED_N8N_DB_NAME>
N8N_DB_USER=<REDACTED_N8N_DB_USER>
N8N_DB_PASSWORD=<REDACTED_N8N_DB_PASSWORD>

# n8n app
N8N_PROTOCOL=https
N8N_HOST_LOCAL=<REDACTED_N8N_HOST>
N8N_ENCRYPTION_KEY=<REDACTED_N8N_ENCRYPTION_KEY>

# messaging / integrations
EVOLUTION_API_KEY=<REDACTED_EVOLUTION_API_KEY>
EVOLUTION_API_INTERNAL_URL=http://evolution:8080

# public endpoints
PUBLIC_BASE_URL=https://<REDACTED_PUBLIC_HOST>
